{% extends "base.html" %}
{% block content %}
<div style="padding-left: 25px" class="row">
    <h2 align = "center">Analysis </h2>
    <p style="padding: 25px">While developing our site and databases, we noticed very intriguing patterns concerning the political data. Our initial hypothesis was that voters tend to come out and vote during higher economic downturn and people side with the Republican party during thriving economic states. We were surprised by our findings that when the economic state of the country plummeted in 2008, voter turnout was at an all time high because they believed in enforcing change. However, when the next election came around four years later, GDP finally made up for its plummet but voter turnout was dropping significantly as if people had lost faith in the government.</p>
    <h2 align = "center">Pitch</h2>
    <iframe src="//www.slideshare.net/slideshow/embed_code/key/3QfdiT3y83wJq5" width="100%" height="75%" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
  </div>
{% endblock %}
